/* === MIXINS === */
@use '../abstracts/variables' as *

/* === fonts === */
@mixin font-size($font-size, $line-height)
   font-size: $font-size
   line-height: $line-height

@mixin font-style($color: $text, $padding-top: 0, $text-align: left)
   color: $color
   padding-top: $padding-top
   text-align: $text-align

/* === BUTTONS ===*/

@mixin button-size($height, $padding, $font-size)
   height: $height
   padding: 0 $padding
   font-size: $font-size

@mixin button-variant($bg, $color, $border-color, $hover-bg: null)
   background: $bg
   color: $color
   border: 1px solid $border-color
   &:hover:not(:disabled)
      @if $hover-bg
         background: $hover-bg
      @else 
         filter: brightness(1.1)
   &:disabled
      opacity: 0.3

