/* === MIXINS === */
@use '../abstracts/variables' as *
@use '../abstracts/colors' as *

/* === fonts === */
@mixin font-size($font-size, $line-height)
   font-size: $font-size
   line-height: $line-height

@mixin font-style($color: $text, $spaceding-top: 0, $text-align: left)
   color: $color
   padding-top: $spaceding-top
   text-align: $text-align

/* === BORDER === */
@mixin border( $border-width:$border-width,  $border-style: $border-style, $border-color: $bg, $border-radius: $border-radius)
   border: $border-width $border-style $border-color
   border-radius: $border-radius

/* === BUTTONS ===*/
@mixin button-size($height, $spaceding, $font-size)
   height: $height
   padding: 0 $spaceding
   font-size: $font-size

@mixin button-variant($bg, $color, $border-color, $hover-bg: null)
   @include border($border-color: $border-color, $border-radius: 10px)
   background: $bg
   color: $color
   &:hover:not(:disabled)
      @if $hover-bg
         background: $hover-bg
      @else 
         filter: brightness(1.1)
   &:disabled
      opacity: 0.3

/* === FORM ELEMENTS === */
@mixin form-element($bg: $bg-soft)
   @include border()
   background: $bg
   padding: $space-content-md
   transition: $transition
   color: $text
   margin-top: 5px
   &:focus, &:focus-visible
      border-color: $primary-hover
      box-shadow: 0 0 0 4px rgba($primary, 0.15)
      outline: none
   &:disabled
      opacity: $opacity
      cursor: not-allowed
   &.is-error
      border-color: $danger
      &:focus, &:focus-visible
         border-color: $danger!important
         box-shadow: 0 0 0 4px rgba($danger, 0.15)

@mixin form-text($font-size: $body-text, $color: $text)
   font-size: $font-size
   color: $color


/* ===  UI ELEMNTS & BLOKS === */
//for blocks  [forms, cards. sections,...]
@mixin container($bg: $bg-card)
   width: 100%
   background: $bg
   transition: $transition
   padding: $space-container-lg 
   margin: $space-container-lg 0px
   @media (max-width: 1024px)
      padding: $space-container-md
      margin: $space-container-md 0px
   @media (max-width: 768px)
      padding: $space-container-sm
      margin: $space-container-sm 0px

//elements [input, buttons, icons, ...]
@mixin content($bg: $bg-card)
   width: 100%
   background: $bg
   transition: $transition
   padding: $space-content-lg
   margin: $space-content-lg 0px
   @media (max-width: 1024px)
      padding: $space-content-md
      margin: $space-content-md 0px
   @media (max-width: 768px)
      padding: $space-content-sm
      margin: $space-content-sm 0px


/*=== SKELETONS ===*/
@mixin skeleton-color()
   background: $bg
   opacity: $opacity

@mixin skeleton-block($width:100%, $height: 50px, $margin-top: 20px , $border-radius: $border-radius)
   @include skeleton-color()
   margin-top: $margin-top
   width: $width
   height: $height
   border-radius: $border-radius

