/* === SASS VARIABLES === */

/* === font sizes === */
$heading: 26px
$subheading: 19px
$body-text: 16px

/* === [tablet/desktop] === */
$heading-md: 24px
$subheading-md: 18px
$body-text-md: 15px

/* === [mobile] === */
$heading-sm: 20px
$subheading-sm: 16px
$body-text-sm: 14px

/*=== DESIGN ===*/
$transition: all 0.3s ease-out
$opacity: 0.4


/*=== SPACE TOKENS  ===*/ 
//elements [input, buttons, icons, ...]
$space-content-sm: 6px 
$space-content-md: 10px 
$space-content-lg: 14px 

//for blocks  [forms, cards. sections,...]
$space-container-sm: 16px
$space-container-md: 24px
$space-container-lg: 32px



