/* === INPUT === */

@use '../../../abstracts/_tokens' as *
@use '../../../abstracts/_mixins' as *


.base-input
   display: flex
   flex-direction: column
   &__wrapper
      position: relative
      display: flex
      flex-direction: row
   &__control
      @include form-element()
      width: 100%
   &__button 
      // @include form-element()
      position: absolute
      right: 30px
      


// change calendar icon color 
input[type='date']::-webkit-calendar-picker-indicator 
   filter: invert(98%) sepia(1%) saturate(678%) hue-rotate(181deg) brightness(98%) contrast(94%)

/* === CodePen Home CSS filter generator to convert from black to target hex color === */
// ======>  https://codepen.io/sosuke/pen/Pjoqqp 