/* === CHECKBOX === */
   
@use '../../../abstracts/_muk-tokens' as *
@use '../../../abstracts/_muk-mixins' as *

.muk-checkbox
   position: relative
   &__wrapper
      width: 100%
      cursor: pointer
      display: flex
      flex-direction: column
   &__data
      display: inline-flex
      align-items: center
      user-select: none
      margin-bottom: 6px
   &__field
      position: absolute
      opacity: 0
      width: 0
      height: 0
      appearance: none
      &:focus-visible + .muk-checkbox__box
         border-color: $muk-primary-hover
      &:checked + .muk-checkbox__box
         border-color: $muk-primary
         .muk-checkbox__check
            transform: scale(1)
      &:disabled
         & + .muk-checkbox__box
            opacity: $muk-opacity
            cursor: not-allowed
   &__box
      @include muk-form-element()
      border-radius: 0px
      width: 20px
      height: 20px
      display: flex
      align-items: center
      justify-content: center
      flex-shrink: 0
      margin-bottom: 4px
   &__check
      color: $muk-text
      transform: scale(0)
      transition: $muk-transition
      border-radius: 50%


   