/* === BASE MODAL === */
   
@use '../../../abstracts/_muk-tokens' as *
@use '../../../abstracts/_muk-mixins' as *

.muk-modal-backdrop
   position: fixed
   top: 0
   left: 0
   width: 100vw
   height: 100vh
   background: rgba(0, 0, 0, 0.5) 
   display: flex
   align-items: center
   justify-content: center
   z-index: 10000 
   pointer-events: auto

.muk-modal
   @include muk-border()
   background: $muk-bg-card 
   width: 100%
   max-width: 450px 
   padding: 24px   
   &__header
      margin-bottom: 16px
   &__content
      margin-bottom: 24px
      display: flex
      flex-direction: column
      gap: 16px
   &__footer
      display: flex
      justify-content: flex-end
      gap: 12px 


@media (max-width: 500px)
   .muk-modal
      max-width:100%

/* === ANIMATION === */
.modal-fade-enter-active, .modal-fade-leave-active
   transition: opacity 0.25s ease
   .muk-modal
      transition: transform 0.25s ease


.modal-fade-enter-from, .modal-fade-leave-to
   opacity: 0
   .muk-modal
      transform: translateY(-20px)

/* === VARIANTS === */
.muk-modal
   &--primary
      border-color: $muk-primary
   &--secondary
      border-color: $muk-text
   &--success
      border-color: $muk-success
   &--warning
      border-color: $muk-warning
   &--danger
      border-color: $muk-danger

