/* ================= BASE TOAST =================  */
   
@use '../../../abstracts/_variables' as *
@use '../../../abstracts/_colors' as *
@use '../../../abstracts/_mixins' as *


.base-toast-container
   position: fixed
   top: 20px
   right: 20px
   z-index: 99999
   pointer-events: none

.base-toast
   @include border()
   background: $bg
   pointer-events: auto
   position: relative
   width: 300px
   overflow: hidden
   animation: fadeIn 0.25s ease
   margin-top: 5px
   padding: 10px
   &__wrapper
      display: flex
      align-items: center
      justify-content: space-between
      flex-direction: row
      p
         margin: 0
         padding: 0
   &__progress
      position: absolute
      pointer-events: none
      bottom: 0
      left: 0
      height: 4px
      background: rgba(255,255,255,0.7)
      transition: width 0.1s linear

/* VARIANTS */
.base-toast
   &--primary
      border-color: $primary
   &--secondary
      border-color: $text
   &--success
      border-color: $success
   &--warning
      border-color: $warning
   &--danger
      border-color: $danger

//animations
.toast-enter-active, .toast-leave-active
   transition: all 0.25s ease

.toast-enter-from, .toast-leave-to
   opacity: 0
   transform: translateX(30px)
