/* ================= EMPTY STATE =================  */
   
@use '../../../abstracts/_variables' as *
@use '../../../abstracts/_colors' as *
@use '../../../abstracts/_mixins' as *

   
.empty-state
   @include border()
   padding: 10px
   &__text
      p,h3
         text-align: center
   &__actions
      display: flex
      justify-content: center

/* ===  VARIANTS === */
.empty-state--secondary
   border-color: $text

.empty-state--primary
   border-color: $primary
   p, h3, a
      color: $primary


