/* ================= ERROR STATE =================  */

@use '../../../abstracts/_variables' as *
@use '../../../abstracts/_colors' as *
@use '../../../abstracts/_mixins' as *

   
.error-state
   @include border($border-color: $danger, $border-style: dotted)
   padding: 10px
   &__action
      display: flex
      justify-content: center