/* ================= BASE TOAST =================  */
   
@use '../../../abstracts/_muk-tokens' as *
@use '../../../abstracts/_muk-mixins' as *

.muk-toast-container
   position: fixed
   top: 20px
   right: 20px
   z-index: 99999
   pointer-events: none

.muk-toast
   @include muk-border()
   background: $muk-bg
   pointer-events: auto
   position: relative
   width: 300px
   overflow: hidden
   animation: fadeIn 0.25s ease
   margin-top: 5px
   padding: 10px
   &__wrapper
      display: flex
      align-items: center
      justify-content: space-between
      flex-direction: row
      p
         margin: 0
         padding: 0
   &__progress
      position: absolute
      pointer-events: none
      bottom: 0
      left: 0
      height: 4px
      background: rgba(255,255,255,0.7)
      transition: width 0.1s linear

/* VARIANTS */
.muk-toast
   &--primary
      border-color: $muk-primary
   &--secondary
      border-color: $muk-text
   &--success
      border-color: $muk-success
   &--warning
      border-color: $muk-warning
   &--danger
      border-color: $muk-danger

//animations
.toast-enter-active, .toast-leave-active
   transition: all 0.25s ease

.toast-enter-from, .toast-leave-to
   opacity: 0
   transform: translateX(30px)
