/* === Pagination === */
   
@use '../../../abstracts/_muk-tokens' as *
@use '../../../abstracts/_muk-mixins' as *


.muk-pagination
   width: 100%
   display: flex
   align-items: center
   justify-content: center
   gap: 8px
   p
      padding-top: 0
      transition: $muk-transition
      cursor: pointer !important
      &:hover
         color: $muk-primary-hover
   .muk-btn-icon.is-active
      p
         color: $muk-primary !important
         font-weight: bold
   &__desktop
      display: flex
      align-items: center
      gap: 5px
      @media ( max-width: 640px )
         display: none
   &__mobile
      display: none
      @media ( max-width: 640px )
         display: flex
         align-items: center
         
