/* === BREADCRUMBS === */
   
@use '../../../abstracts/_muk-tokens' as *
@use '../../../abstracts/_muk-mixins' as *


.muk-breadcrumbs
   max-width: 100%
   overflow: scroll
   overflow-x: auto
   white-space: nowrap
   &__list
      display: flex
      align-items: center
      list-style: none
   &__item
      display: flex
      align-items: center
      a, span
         margin-top: 0px
         padding-top: 0px
      a:hover
         color: $muk-primary-hover
   &__item-separator
      margin: 0 8px