@use '../abstracts/_colors' as *

.header
   background: $bg-card
   &__wrapper
      display: flex
      align-items: center
      justify-content: start
      span
         font-weight: bold
         color: $primary
      a:hover
         color: $primary
      ul
         display: flex
      ul li
         margin-left: 10px