/* === BASE BUTTON === */

@use '../../../abstracts/_variables' as *
@use '../../../abstracts/_colors' as *
@use '../../../abstracts/_mixins' as *

.btn
   display: inline-flex
   align-items: center
   justify-content: center
   gap: 8px
   font-family: inherit
   font-weight: 500
   line-height: 1.2
   user-select: none
   white-space: nowrap
   cursor: pointer
   transition: $transition
   outline: none
   border: none
   
/*=== SIZES [height, padding-x, font size] ===*/
.btn--sm
   @include button-size(38, 14px, 14px)
.btn--md
   @include button-size(44, 16px, 15px)
.btn--lg
   @include button-size(50, 18px, 16px)

/*=== VARIANTS [border-color, bg, text color,  hover: bg] ===*/
.btn--primary
   @include button-variant($primary, $bg-card, $text, $primary)

.btn--secondary
    @include button-variant($text-muted, $bg-card, $text, $text-muted)

.btn--success
   @include button-variant($success, $bg-card, $text, $success)

.btn--warning
    @include button-variant($warning, $bg-card, $text, $warning)

.btn--danger
    @include button-variant($danger, $bg-card, $text, $danger)

.btn--ghost
   @include button-variant($bg-soft, $bg-card, $text-muted)


/*=== LOADING ===*/
.is-loading .btn__content
   opacity: 0.6

.btn-spinner
   width: 16px
   height: 16px
   border-radius: 50%
   border: 2px solid gray
   border-top-color: white
   animation: spin 0.9s linear infinite
   margin-right: 9px
   cursor: wait

@keyframes spin
   from
      transform: rotate(0deg)
   to
      transform: rotate(360deg)