/* === BASE BUTTON ICON  === */

//components/button
@use '../../../abstracts/_variables' as *
@use '../../../abstracts/_colors' as *
@use '../../../abstracts/_mixins' as *


.btn-icon
   border: none
   background: none
   cursor: pointer
   display: inline-flex
   align-items: center
   transition: $transition     
   justify-content: center
   margin: 0
   padding: 0
   svg
      transition: $transition
   &--sm
      @include icon-button-size(32px, 18px)
      --spinner-size: 14px
   &--md
      @include icon-button-size(40px, 22px)
      --spinner-size: 18px
   &--lg
      @include icon-button-size(48px, 26px)
      --spinner-size: 22px
   &--primary
      @include icon-button-variant($primary, $primary-hover)
   &--secondary
      @include icon-button-variant($text, $primary-hover)
   &--success
      @include icon-button-variant($success)
   &--warning
      @include icon-button-variant($warning)
   &--danger
      @include icon-button-variant($danger)
   &--ghost
      @include icon-button-variant($text-muted, $text)

