/* === BASE BUTTON === */

@use '../../../abstracts/_variables' as *
@use '../../../abstracts/_colors' as *
@use '../../../abstracts/_mixins' as *

.btn
   display: inline-flex
   align-items: center
   justify-content: center
   gap: 8px
   font-family: inherit
   font-weight: 500
   line-height: 1.2
   user-select: none
   white-space: nowrap
   cursor: pointer
   transition: $transition
   outline: none
   border: none
   
/*=== SIZES [height, padding-x, font size] ===*/
.btn--sm
   @include button-size(38, 14px, 14px)
   --spinner-size: 14px
.btn--md
   @include button-size(44, 16px, 15px)
   --spinner-size: 18px
.btn--lg
   @include button-size(50, 18px, 16px)
   --spinner-size: 22px

/*=== VARIANTS [border-color, bg, text color,  hover: bg] ===*/
.btn--primary
   @include button-variant($primary, $bg-card, $text, $primary)

.btn--secondary
    @include button-variant($text-muted, $bg-card, $text, $text-muted)

.btn--success
   @include button-variant($success, $bg-card, $text, $success)

.btn--warning
    @include button-variant($warning, $bg-card, $text, $warning)

.btn--danger
    @include button-variant($danger, $bg-card, $text, $danger)

.btn--ghost
   @include button-variant($bg, $bg-card, $text-muted)


.btn-spinner
   display: inline-block
   flex-shrink: 0 
   width: var(--spinner-size, 18px)
   height: var(--spinner-size, 18px)
   border-radius: 50%
   border: 2px solid var(--spinner-color, currentColor)
   border-right-color: transparent 
   animation: spin 0.8s linear infinite

@keyframes spin
   from
      transform: rotate(0deg)
   to
      transform: rotate(360deg)