/* === BASE TEXT === */
   
@use '../../../abstracts/_variables' as *
@use '../../../abstracts/_colors' as *
@use '../../../abstracts/_mixins' as *

/* VARINATS*/
.txt
   &--primary
      color: $primary
   &--danger
      color: $danger
   &--warning
      color: $warning
   &--success
      color: $success
   &--secondary
      color: $text
   &--muted
      color: $text-muted
  
/* ALIGN */
.txt
   &--left
      text-align: left
   &--center
      text-align: center
   &--right
      text-align: right