/* === BASE TEXT === */
   
@use '../../../abstracts/_muk-tokens' as *
@use '../../../abstracts/_muk-mixins' as *

/* VARINATS*/
.muk-txt
   &--primary
      color: $muk-primary
   &--danger
      color: $muk-danger
   &--warning
      color: $muk-warning
   &--success
      color: $muk-success
   &--secondary
      color: $muk-text
   &--muted
      color: $muk-text-muted
  
/* ALIGN */
.muk-txt
   &--left
      text-align: left
   &--center
      text-align: center
   &--right
      text-align: right